@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../__info/info.css);
@import url(../__form/__button.css);
@import url(../__form/__error.css);
@import url(../main.css);


.page{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Inter;
    font-style: normal;
}

.profile__email{
    margin:0;
    padding:0;
}