.form__button{
    width: 280px;
    height: 37px;
    border:none;
    background: #E6E8EB;
    border-radius: 8px;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
    margin-top:84px;
    }
    
    .form__button.form__button-is-active {
        background: #3369F3;
      }