@import url(./__button.css);
@import url(./__error.css);

.form {
  margin: auto auto;
  position: relative;
  padding: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  font-family: Inter;
  font-style: normal;
}

    .form__container{
      position:relative;
  }

  
  .form__input{
    margin:0;
    padding:0;
    width:100%;
    border:none;
    border-bottom:1px solid #3369F3;
    padding-bottom:3px;
    margin-bottom:20px;
font-weight: 500;
font-size: 13px;
line-height: 13px;
color: #1E1E1E
}
 
.form__link{
  margin:0;
  padding:0;
  margin-top:14px;
font-weight: 500;
font-size: 11px;
line-height: 11px;
text-align: center;
color: #3369F3;
text-decoration: none;
}

.form__signin{
  width: 340px;
height: 500px;
}

.form__signup{
  width: 340px;
height: 460px;
}

.form__subtitle{
  margin:0;
  padding:0;
  margin-bottom: 3px;
font-weight: 400;
font-size: 9px;
line-height: 9px;
color: #999999;
}

.form__title{
  margin:0;
  padding:0;
  margin-top:40px;
  margin-bottom: 40px;
font-weight: bold;
font-size: 20px;
line-height: 20px;
text-align: center;
color: #1E1E1E;
}