@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  width: 100%;
  font-family: Inter;
  font-style: normal;
}

.email {
  margin-left: auto;
  margin-right: 10px;
  color: white;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #3369f3;
}
.header__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 8px;
  color: white;
}

.header__nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-size: 14px;
  line-height: 8px;
}

.header__button {
  border-radius: 8px;
  background-color: transparent;
  border-color: white;
  color: white;
}

.main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__info {
  display: flex;
  flex-direction: row;
}
.main__text {
  margin-left: 20px;
}
.avatar {
  width: 100px;
  height: 100px;
}
.profile__text {
  margin-top: 20px;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}
.date {
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #1e1e1e;
}

.footer {
}

.header__link {
  font-weight: 900;
  text-decoration: none;
  color: #3369f3;
}

.main__link {
  text-decoration: none;
  color: #3369f3;
}
